
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------


body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}

atom-pane {
  border-right: 1px solid @base-border-color;
  &:last-child {
    border-right: none;
  }
}

// Scroll bars
// -------------------

.scrollbars-visible-always {
  ::-webkit-scrollbar {
    width: 10px;
    height: 0;

    &-track {
      border: 0px;
      border-radius: 0px;
      background-color: transparent !important;
    }

    &-thumb {
      background-color: rgba(111, 111, 111, 0.2) !important;
      border: 0px;
      border-radius: 10px;
    }
  }
}
