
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}

.tree-view {
  color: darken(@gray-light, 20%);
  background-color: @tree-view-background-color;

  .directory {
    color: darken(@gray-light, 10%);

    &.status-ignored {
      color: @gray-darker;
    }
  }

  .file.list-item,
  .list-item.selected {
    color: darken(@gray-light, 10%);
  }

  .file.list-item.selected {
    color: @white;
  }

  .status-modified,
  .list-item.status-modified {
    color: @yellow-light;
  }

  .status-added,
  .list-item.status-added {
    color: @text-color-success;
  }

  .status-ignored,
  .list-item.status-ignored {
    color: @gray-darker;
  }
}

// Project "tab"
.left li.tab.sortable.active {
  background-color: darken(@blue-dark, 2%);
  border-right: none;
}
